numpy
scipy
matplotlib
h5py
healpy
pyephem

cython
urllib3[secure]

-e git+https://github.com/zuoshifan/caput.git@zuo/develop#egg=caput
-e git+https://github.com/zuoshifan/cora.git@master#egg=cora
-e git+https://github.com/zuoshifan/aipy.git@zuo/develop#egg=aipy
